@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'sans-serif';
}

.verticelAlign {
  writing-mode: vertical-lr;
}

@media screen and (max-width: 474px) {
  .verticelAlign {
    writing-mode: horizontal-tb !important;
  }
}

/* background color ======>  */
.memshipCardBgColor {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
}

/* =======> drawer style */
.drawer {
  width: 50% !important;
  background-color: #121111 !important;
}
@media screen and (max-width: 700px) {
  .drawer {
    width: 70% !important;
  }
}
@media screen and (max-width: 500px) {
  .drawer {
    width: 100% !important;
  }
}
