@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'sans-serif';
}

.verticelAlign {
  writing-mode: vertical-lr;
}

@media screen and (max-width: 474px) {
  .verticelAlign {
    writing-mode: horizontal-tb !important;
  }
}

/* background color ======>  */
.memshipCardBgColor {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
}
