.input {
  height: 45px !important;
  border: 1px solid #e2e4e9;
  border-radius: 10px !important;
}
.input::placeholder {
  color: #868c98 !important;
}
.input:focus {
  border: 1px solid #e2e4e9 !important;
}
.day {
  &[data-selected] {
    background-color: #b61f24 !important;
  }
}
